  <style>
  #qp-embedded-container{
    height: 9em;
    overflow: hidden;
    position: relative;
  }
  
  @media(max-width: 380px){
    #qp-embedded-container { height: 12em; }
  }

  #payment-success{
    font-size: 20px;
  }

  #pay-button{
    background-color: green;
    padding: 10px 20px;
    color: white;
    font-size: 15px;
    align-self: center;
  }
  </style>
  <body>
    <br />
    <form id="my-payment-form" method="post" action="/">
      <div id="payment-frame">
        <div id="qp-embedded-container" align="center"></div>
        <input id="pay-button" type="submit" name="submit" value="Pay Now"></input>
        </div>
      <div id="payment-success"></div>
    </form>
    <script src="http://api.qualpay.com/hosted/embedded/js/qp-embedded-sdk.min.js"></script>
    <script>
      function getTransientKey() {
        const url = "http://localhost:3000/transientkey";
        const method = "GET";
        const headers = new Headers({
          "Accept": `application/json`,
          "Content-Type": `application/json`
        });
        const opts = { method: method, headers: headers }
        const request = new Request(url, opts);
        return fetch(request).then(response => response.json());
      }
      function postSale(data){
        const url = "http://localhost:3000/sale";
        const method = "POST";
        const headers = new Headers({
          "Content-Type": `application/json`
        });
        const opts = { method: method, headers: headers, body: JSON.stringify(data) }
        return fetch(url, opts).then(response => response.json());
      }
      const successHandler = (data) => {
        let card_id = data.card_id;
        let card_number = data.card_number;
        console.log(data);
        alert(`card id ${card_id}, card number is ${card_number}`);
        qpEmbeddedForm.unloadFrame();
        let postBody = {
          card_id: card_id, 
          amt_tran: 10.00
        }
        postSale(postBody)
        .then(response => document.getElementById("payment-success").innerHTML =  `Payment successful. Payment ID: ${response.pgId}`)
        .then(() => document.getElementById("payment-frame").hidden = true);
      };
      const errorHandler = (error) => {
        alert(JSON.stringify(error));
        if (error.detail) {
          let errors = "";
          for (let key in error.detail) {
            errors += `${error.detail[key]},`;
            console.log(error.detail[key]);
          }
        }
        alert(errors);
      };
      getTransientKey()
        .then(response => {
          qpEmbeddedForm.loadFrame(response.merchant_id,
            {
              formId: "my-payment-form",
              transientKey: response.transient_key,
              mode: "test",
              onSuccess: successHandler,
              onError: errorHandler,
              // font: "Modern+Antiqua",    // Change default font
              // style:                     // Change default style
              //   "input[type="text"]{ " +
              //     "font-family : "Modern Antiqua";" +
              //     "font-size : 14px; " +
              //     "border-top: none !important; " +
              //     "border-left: none !important; " +
              //     "border-right: none !important; " +
              //     "border-bottom: 1px solid blue !important; " +
              //     "border-radius: unset !important;" +
              //     "background: unset !important;" +
              //     "height: 25px !important;" +
              //   "}",
            //   paymentRequestConfig: {    //Payment request API configuration
            //   "paymentDetails": {
            //     "total": {
            //       "label": "Total",
            //       "amount": {
            //         "currency": "USD",
            //         "value": 9.68
            //       }
            //     },
            //     "displayItems": [
            //       {
            //         "label": "Subtotal",
            //         "amount": {
            //           "currency": "USD",
            //           "value": 10
            //         }
            //       },
            //       {
            //         "label": "Discount (10%)",
            //         "amount": {
            //           "currency": "USD",
            //           "value": -1
            //         }
            //       },
            //       {
            //         "label": "Tax (13.23%)",
            //         "amount": {
            //           "currency": "USD",
            //           "value": 0.68
            //         }
            //       }
            //     ]
            //   }
            // }
            });
        });
    </script>
  </body>